In [77]:
import sqlite3

In [107]:
conn = sqlite3.connect("/Users/gimdong-wan/Desktop/김동완 수업자료/통계 데이터베이스/PythonSQL/score.db", isolation_level=None)

In [108]:
# 커서 생성
c = conn.cursor()

In [109]:
# 교수 테이블 생성하기
sql = """CREATE TABLE IF NOT EXISTS Prof
( PID TEXT PRIMARY KEY, 
PName TEXT not null,
PDept TEXT )"""
c.execute(sql)
# 테이블이 생성되었는지(존재하는지) 확인
check="SELECT count(*) FROM sqlite_master WHERE name='Prof'" 
c.execute(check)
c.fetchone()

(1,)

In [110]:
#학생 테이블 생성하기
sql = """CREATE TABLE IF NOT EXISTS Student  
( SID TEXT PRIMARY KEY, 
Name TEXT not null,
Dept TEXT not null,
Grade INTEGER not null,
PID TEXT,
FOREIGN KEY(PID) REFERENCES Prof(PID) ) """
c.execute(sql)
# 테이블이 생성되었는지(존재하는지) 확인
check="SELECT count(*) FROM sqlite_master WHERE name='Student'" 
c.execute(check)
c.fetchone()

(1,)

In [111]:
#교과목 테이블 생성하기
sql = """CREATE TABLE IF NOT EXISTS Curriculum  
(SubjectID TEXT PRIMARY KEY, 
SubjectName TEXT not null ) """
c.execute(sql)
# 테이블이 생성되었는지(존재하는지) 확인
check="SELECT count(*) FROM sqlite_master WHERE name='Curriculum'" 
c.execute(check)
c.fetchone()

(1,)

In [112]:
#성적 테이블 생성하기
sql = """CREATE TABLE IF NOT EXISTS Score  
( SID TEXT , 
SubjectID TEXT ,
Score INTEGER default 0,
PRIMARY KEY(SID, SubjectID)
FOREIGN KEY(SID) REFERENCES Student(SID),
FOREIGN KEY(SubjectID) REFERENCES Curriculum(SubjectID)) """
c.execute(sql)
# 테이블이 생성되었는지(존재하는지) 확인
check="SELECT count(*) FROM sqlite_master WHERE name='Score'" 
c.execute(check)
c.fetchone()

(1,)

In [106]:
# Prof 테이블에 데이터 insert
sql = """ INSERT INTO Prof 
VALUES ('0515', '안정용교수님', '통계학과') """
c.execute(sql)

# Prof 테이블에 데이터 삽입 결과 확인 
check="SELECT * FROM Prof" 
c.execute(check)
c.fetchone()

('0515', '안정용교수님', '통계학과')

In [85]:
# Student 테이블에 데이터 insert
sql = """ INSERT INTO Student 
VALUES ('201616525', '김동완', '사회학과',4,'0515') """
c.execute(sql)

# Student 테이블에 데이터 삽입 결과 확인 
check="SELECT * FROM Student"
c.execute(check)
c.fetchone()

('201616525', '김동완', '사회학과', 4, '0515')

In [86]:
 # Curriculum 테이블에 데이터 insert
sql = """ INSERT INTO Curriculum 
VALUES ('05', '통계데이터베이스') """

c.execute(sql)

# Curriculum 테이블에 데이터 삽입 결과 확인 
check="SELECT * FROM Curriculum"
c.execute(check)
c.fetchone()

('05', '통계데이터베이스')

In [87]:
# Score 테이블에 데이터 insert
sql = """ INSERT INTO Score 
VALUES ('201616525','05', 0) """

c.execute(sql)

# Score 테이블에 데이터 삽입 결과 확인 
check="SELECT * FROM Score"
c.execute(check)
c.fetchone()

('201616525', '05', 0)

In [113]:
# CSV 화일의 데이터를 Prof 테이블에 삽입하기 
import pandas as pd
Prof = pd.read_csv('/Users/gimdong-wan/Desktop/김동완 수업자료/통계 데이터베이스/PythonSQL/Prof.csv', encoding='utf-8')
Prof.to_sql('Prof', conn, if_exists='append', index=False)
# Prof 테이블에 있는 데이터 확인하기 
check="SELECT * FROM Prof" 
c.execute(check)
c.fetchall()

[('10001', '안정용교수님', '통계학과'),
 ('10002', '최혜미교수님', '통계학과'),
 ('10003', '김재우교수님', '사회학과'),
 ('10004', '송정기교수님', '사회학과')]

In [114]:
# CSV 화일의 데이터를 Student 테이블에 삽입하기 
Student = pd.read_csv('/Users/gimdong-wan/Desktop/김동완 수업자료/통계 데이터베이스/PythonSQL/Student.csv', encoding='utf-8')
Student.to_sql('Student', conn, if_exists='append', index=False)
# Student 테이블에 있는 데이터 확인하기 
check="SELECT * FROM Student" 
c.execute(check)
c.fetchall()

[('201616525', '김동완', '사회학과', 4, '10003'),
 ('201412323', '홍길동', '통계학과', 2, '10001'),
 ('201523293', '임꺽정', '사회학과', 3, '10003'),
 ('201212121', '박정화', '통계학과', 3, '10002'),
 ('201523233', '김삿갓', '사회학과', 1, '10004')]

In [115]:
# CSV 화일의 데이터를 Curriculum 테이블에 삽입하기 
Curriculum = pd.read_csv('/Users/gimdong-wan/Desktop/김동완 수업자료/통계 데이터베이스/PythonSQL/Curriculum.csv', encoding='utf-8')
Curriculum.to_sql('Curriculum', conn, if_exists='append', index=False)
# Curriculum 테이블에 있는 데이터 확인하기 
check="SELECT * FROM Curriculum" 
c.execute(check)
c.fetchall()

[('9990', '환경과발전'),
 ('9991', '통계데이터베이스'),
 ('9992', '한국사회분석실습'),
 ('9993', '응용통계학')]

In [116]:
# CSV 화일의 데이터를 Score 테이블에 삽입하기 
Score = pd.read_csv('/Users/gimdong-wan/Desktop/김동완 수업자료/통계 데이터베이스/PythonSQL/Score.csv', encoding='utf-8')
Score.to_sql('Score', conn, if_exists='append', index=False)
# Score 테이블에 있는 데이터 확인하기 
check="SELECT * FROM Score" 
c.execute(check)
c.fetchall()

[('201616525', '9990', 98),
 ('201412323', '9991', 65),
 ('201523233', '9992', 76),
 ('201212121', '9993', 54),
 ('201523233', '9990', 98)]

In [121]:
sql = """SELECT PName,PDept FROM Prof"""
c.execute(sql) 
c.fetchall()

[('안정용교수님', '통계학과'),
 ('최혜미교수님', '통계학과'),
 ('김재우교수님', '사회학과'),
 ('송정기교수님', '사회학과')]

In [120]:
check="SELECT * FROM Score" 
c.execute(check)
c.fetchall()

[('201616525', '9990', 98),
 ('201412323', '9991', 65),
 ('201523233', '9992', 76),
 ('201212121', '9993', 54),
 ('201523233', '9990', 98)]

In [122]:
sql = "SELECT DISTINCT SID FROM SCORE" 
c.execute(sql)
c.fetchall()

[('201212121',), ('201412323',), ('201523233',), ('201616525',)]

In [124]:
sql = "SELECT SubjectID, avg(Score) FROM Score GROUP BY SubjectID " 
c.execute(sql)
c.fetchall()

[('9990', 98.0), ('9991', 65.0), ('9992', 76.0), ('9993', 54.0)]

In [125]:
sql = "SELECT SID, avg(Score) FROM Score GROUP BY SID" 
c.execute(sql)
c.fetchall()

[('201212121', 54.0),
 ('201412323', 65.0),
 ('201523233', 87.0),
 ('201616525', 98.0)]

In [127]:
sql = "SELECT CS.SID, C.Name, avg(Score) FROM Score CS JOIN Student C ON C.SID = CS.SID GROUP BY C.Name"
c.execute(sql)
c.fetchall()

[('201616525', '김동완', 98.0),
 ('201523233', '김삿갓', 87.0),
 ('201212121', '박정화', 54.0),
 ('201412323', '홍길동', 65.0)]

In [128]:
sql = """SELECT CS.SubjectID, C.SubjectName, avg(Score)
FROM Score CS
JOIN Curriculum C
ON C.SubjectID = CS.SubjectID 
GROUP BY C.SubjectName"""

c.execute(sql)
c.fetchall()

[('9993', '응용통계학', 54.0),
 ('9991', '통계데이터베이스', 65.0),
 ('9992', '한국사회분석실습', 76.0),
 ('9990', '환경과발전', 98.0)]

In [129]:
sql = """SELECT CS.SID, C.Name, avg(Score)
FROM Score CS
JOIN Student C
ON C.SID = CS.SID 
WHERE Score >= 70
GROUP BY C.Name"""

c.execute(sql)
c.fetchall()

[('201616525', '김동완', 98.0), ('201523233', '김삿갓', 87.0)]

In [130]:
sql = """SELECT CS.SID, C.Name, avg(Score)
FROM Score CS
JOIN Student C
ON C.SID = CS.SID 
GROUP BY C.Name
ORDER BY avg(Score)"""

c.execute(sql)
c.fetchall()

[('201212121', '박정화', 54.0),
 ('201412323', '홍길동', 65.0),
 ('201523233', '김삿갓', 87.0),
 ('201616525', '김동완', 98.0)]

In [132]:
sql = """SELECT CS.SID, C.Name,C.Dept, Score
FROM Score CS
JOIN Student C
ON C.SID = CS.SID
ORDER BY Score"""

c.execute(sql)
c.fetchall()

[('201212121', '박정화', '통계학과', 54),
 ('201412323', '홍길동', '통계학과', 65),
 ('201523233', '김삿갓', '사회학과', 76),
 ('201616525', '김동완', '사회학과', 98),
 ('201523233', '김삿갓', '사회학과', 98)]